@import './variables.css';

.background-container {
  /*background: cornflowerblue;*/
  background-image: url('../img/dashboard/bg_login.jpg');
  height: 750px;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position-x: center;
}

.container-form {
  background: white;
  width: 45%;
  height: 90%;
  min-width: 340px;
  max-width: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 40px;
  margin: 4% 0 0 7%;
  -webkit-box-shadow: 0px 0px 52px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 52px -18px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 52px -18px rgba(0,0,0,0.75);
}

.form-signin {
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  margin-top:  8%;
  padding-top: 2%;
  font-size: 14px;
}

.form-signin > button {
  margin-left: auto;
  border-color: transparent;
  background: linear-gradient(90deg, var(--green2) 10%, var(--blue2) 100%);
  padding: 5px 30px;
  color: white;
  font-size: 18px;
  border-radius: 20px;
}

.form-signin > button:hover {
  color: white;
}
