<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
   
    <title>Code Editor</title>
   
    <script src="/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/estilo.css">


     
      <link rel="stylesheet" href="/codemirror/theme/dracula.css">
      <link rel="stylesheet" href="/codemirror/theme/duotone-dark.css">
      <link rel="stylesheet" href="/codemirror/theme/duotone-light.css">
      <link rel="stylesheet" href="/codemirror/theme/eclipse.css">
      <link rel="stylesheet" href="/codemirror/theme/elegant.css">
      <link rel="stylesheet" href="/codemirror/theme/erlang-dark.css">
       <link rel="stylesheet" href="/codemirror/theme/tomorrow-night-bright.css">

       <link rel="icon" type="image/png" href="../assets/img/small-logo.png">
  <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="../assets/css/config.css">
  <link rel="stylesheet" href="../assets/css/editor.css">
  </head>


  